<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tipo de Cambio</title>
        <link rel="stylesheet" href="/static/acercade-style.css">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5934459102093169"
            crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <header>
                Dólar<span>Perú</span>
            </header>
            <main>
                Esta página empezó como un proyecto para ejercitar lo que he aprendido de programación en los últimos
                años. El tema de tipo de cambio tiene que ver con la coyuntura que estaba viviendo el país a
                inicios del 2021 y la
                sorprendente cantidad de casas de cambio en línea que encontré. <br><br>
                La primera versión solamente daba el
                tipo de cambio promedio de venta de 10 casas de cambio. Luego incorporé tipo de cambio de
                compra, la mediana y la mejor cotización del mercado. Ahora tiene filtros para no considerar los
                tipos de cambio que se
                desvían más del 0.5% de la mediana.<br><br>
                Entre medio compré el dominio dolarpe.com y cambié el alojamiento de la computadora de mi casa a Google
                Cloud. Todo fueron
                largos procesos de aprendizaje. <br><br>
                Con el tiempo he incorporado gráficos de información histórica (diaria, semanal y de los últimos 100
                días), vínculos a páginas individuales para cada casa de cambio con información pública y gráficos de
                los tipos de cambio comparados con la mediana de todos los demás. <br><br>
                También experimenté con publicidad. La primera empresa de publicidad publicaba avisos "poco elegantes" y
                tuve que buscar alternativas. Hoy no tiene ninguna porque Google AdSense ha decidido que la página aun
                no vale la
                pena. <br><br>
                La data y los gráficos se actualizan cada 15 minutos entre las 7am y 9pm de Lunes a Viernes.
                Los Sábados y Domingos solamente de 9am a 1pm.<br><br>
                A los que les interese el tema técnico: el programa corre en la PC de mi casa con Windows y el
                Programador de Tareas. Es un
                script de Python 3.9 que descarga la información, hace los cálculos, genera los gráficos y carga los
                archivos en Google Cloud. El App Engine que conecta con dolarpe.com
                también está en Google Cloud y es el responsable de publicar la información. Los templates son HTML y
                estilados con CSS. No hay JavaScript porque no tengo idea cómo se usa... por ahora. <br><br>

                Esta página tiene por objeto ser útil y, ojalá pronto, generar suficientes ingresos de publicidad para
                ser
                autosostenible y pagar el hosting de Google Domains y Google Cloud. <br><br>

                Déjame tus comentarios en un correo a <span>gabriel@dolarpe.com</span>. <br><br>

                Gracias por visitarla.<br><br>

                ~Gabriel
            </main>
        </div>
    </body>