<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tipo de Cambio - Estadísticas</title>
        <link rel="stylesheet" href="/static/stats-style.css">
        <meta http-equiv="refresh" content="450">
    </head>

    <body>
        <div class="title">Panel de Control</div>
        <div class="hora-fecha">Más Reciente <span>stats.json</span> --> Hora: {{meta.time}} Fecha: {{meta.date}}</div>
        <table class="table_scraper_results">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Success</th>
                {% for d in range(-1, -activity.scraper_count-1, -1) %}
                <th class="symbol-header">{{d}}</th>
                {%endfor%}
            </tr>
            {% for fintech in scraper_results %}
            <tr>
                <td>{{fintech.id}}</td>
                <td class={{fintech.color}}>{{fintech.name}}</td>
                <td class={{fintech.color}}>{{fintech.success}}</td>
                {% for d in fintech.latest %}
                <td class="symbol-row">{{d}}</td>
                {%endfor%}
            </tr>
            {% endfor %}

        </table>




    </body>

</html>