__pycache__/
.vscode/
Automation/Apparka/virtualenv/
Automation/Apparka/data/
Automation/Apparka/__pycache__/
general/vision/virtualenv/
Resources/Scripts/Tesseract/
erase*
Automation/Apparka/updater.log
Automation/Apparka/logs/*.log
Automation/Apparka/client_secrets.json
Automation/Apparka/credentials.json
Automation/Apparka/token.json
Resources/ConfigData/
Resources/chromedriver.exe
Automation/Apparka/settings.yaml
Automation/ServicioAlertas/virtualenv/
Automation/ServicioAlertas/other/
Automation/ServicioAlertas/images/
Automation/ServicioAlertas/data/images/
Automation/ServicioAlertas/credentials.json
Automation/ServicioAlertas/settings.yaml
Automation/ServicioAlertas/client_secrets.json
Automation/ServicioAlertas/token.json
Automation/ServicioAlertas/logs/
Automation/ServicioAlertas/data/
Games/AirTrafficControl/virtualenv/
Automation/ServicioAlertas2/data/
Automation/ServicioAlertas2/other/
Automation/ServicioAlertas2/outbound/
Automation/ServicioAlertas2/virtualenv/
general/llaves/virtualenv/
Automation/ServicioAlertas/templates/
Automation/ServicioAlertas2/images/
Automation/Test/virtualenv/
Resources/chromedriver-win64/
Resources/chromedriver.zip
