__pycache__/
.vscode/
Automation/Apparka/
general/vision/virtualenv/
Resources/Scripts/Tesseract/
erase*
Resources/ConfigData/
Resources/chromedriver.exe
Automation/ServicioAlertas/virtualenv/
Automation/ServicioAlertas/other/
Automation/ServicioAlertas/images/
Automation/ServicioAlertas/data/images/
Automation/ServicioAlertas/credentials.json
Automation/ServicioAlertas/settings.yaml
Automation/ServicioAlertas/client_secrets.json
Automation/ServicioAlertas/token.json
Automation/ServicioAlertas/logs/
Automation/ServicioAlertas/data/
Games/AirTrafficControl/virtualenv/
Automation/ServicioAlertas2/data/
Automation/ServicioAlertas2/other/
Automation/ServicioAlertas2/outbound/
Automation/ServicioAlertas2/virtualenv/
general/llaves/virtualenv/
Automation/ServicioAlertas/templates/
Automation/ServicioAlertas2/images/
Automation/Test/virtualenv/
Resources/chromedriver-win64/
Resources/chromedriver.zip
Automation/ServicioAlertas2/src/client_secrets.json
Automation/ServicioAlertas2/src/_token.json
Automation/ServicioAlertas2/src/credentials.json
Automation/ServicioAlertas/_token.json
Automation/ServicioAlertas2/settings.yaml
Automation/ServicioAlertas2/src/settings.yaml
Automation/test.db
Automation/test2.db
Automation/ServicioAlertas.rar
general/llaves/llaves.db
