@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;550;700;900&family=Raleway:wght@400;600;800;900&display=swap');

:root {
    --primary-color: #667AF3;
}
  
body {
    background-color: #96d8e0;
    margin: 0;
    font-family: 'Poppins';

    .title {
        padding-top: 25px;
        color: gray;
        font-size: 35px;
        font-weight: 800;
        text-transform: uppercase;
        margin-left: 10px;
    }

    .hora-fecha {
        color: rgb(73, 54, 54);
        font-size: 15px;
        font-weight: 650;
        margin-left: 10px;

        span {
            font-style: italic;
        }
    }
}

.table_scraper_results, th, td {
    margin-top: 15px;
    background-color: rgb(238, 244, 245);
    margin-left: 10px;
    font-size: 10px;
    border: 1px solid black;
    border-collapse: collapse; 
    text-align: center;
    white-space: nowrap;
    font-weight: bold;

    .bad {
        color: red;
    }

    .good {
        color: green;
    }

    .symbol-header {
        width: 15px;
    }

    .symbol-row {
        color: blue;
    }
}