{% extends "base_page.html" %}

{% block title %}
    Bienvenido
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mt-5 p-4 shadow-lg">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="warning">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Formulario de correo y contraseña -->
            <h2 class="mb-4">
                Ingresa tus datos para acceder
            </h2>

            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <fieldset class = "form-group">
                    <div class="form-group justify-content-between align-items-center form-floating mb-3">
                        {{ form.correo(class="form-control is-invalid" if form.correo.errors else "form-control", placeholder="empty") }}
                        <label for="correo" class="form-label">
                            Correo
                        </label>
                        {% if form.correo.errors %}
                            <div class="mt-2">
                                {% for error in form.correo.errors %}
                                    <small class="text-danger">
                                        {{ error }}
                                    </small>
                                    <br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group justify-content-between align-items-center form-floating mb-2">
                        {{ form.password(class="form-control is-invalid" if form.correo.password else "form-control", placeholder="empty") }}
                        <label for="password" class="form-label">
                            Contraseña
                        </label>
                        {% if form.password.errors %}
                            <div class="mt-2">
                                {% for error in form.password.errors %}
                                    <small class="text-danger">
                                        {{ error }}
                                    </small>
                                    <br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </fieldset>

                <!-- Link de contraseña -->
                <div class = "mb-3">
                    <a href="/rec" class="h6 text-decoration-none text-primary">Recuperar contraseña</a>
                </div>

                <!-- Boton para logearse -->
                <button type="submit" class="btn btn-primary mt-3">
                    Empezar
                </button>
            </form>
        </div>

        <!-- Link para crear nueva cuenta -->
        <div class="mb-3 mt-2 p-3">
            No tiene usuario?
            <a href="/reg" class="h6 text-decoration-none text-primary">
                Crear cuenta nueva
            </a>
        </div>
    </div>
</div>  

{% endblock content %}

