{% extends "base_page.html" %}

{% block title %}
    Recuperar Contraseña
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mt-5 p-4 shadow-lg">        
        
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Formulario de correo -->
        <h2 class="mb-4 mt-2">
            Ingresa tu correo {{message}}
        </h2>
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}            
            <div class="form-group justify-content-between align-items-center form-floating mb-3">
                {{ form.correo(class="form-control is-invalid" if form.correo.errors else "form-control", placeholder="empty") }}
                <label for="correo" class="form-label">
                    Correo
                </label>
                {% if form.correo.errors %}
                    <div class="mt-2">
                        {% for error in form.correo.errors %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <!-- Boton para validar -->
            <button type="submit" class="btn btn-primary mt-2">Siguiente</button>
        </form>
    </div>

{% endblock content %}

