{% extends "base_page.html" %}

{% block title %}
    Recuperar Contraseña
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-5 p-4 shadow-lg">       
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Formulario de correo y contraseña -->
            <h2 class="mb-4">
                Valida tu correo y elige una contraseña
            </h2>
            
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                
                <div class="form-group justify-content-between align-items-center form-floating mb-3">
                    {{ form.codigo(class="form-control is-invalid" if form.codigo.errors else "form-control", placeholder="empty") }}
                    <label for="codigo" class="form-label">Codigo de Validacion</label>
                    <small class="form-text text-success">
                        Debes haber recibido un correo con el codigo
                    </small>
                    {% if form.codigo.errors %}
                        <div class="mt-2">
                            {% for error in form.codigo.errors %}
                                <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-group justify-content-between align-items-center form-floating mb-3">
                    {{ form.password(class="form-control is-invalid" if form.password.errors else "form-control", placeholder="empty") }}
                    <label for="password" class="form-label">Contraseña</label>
                    <small class="form-text text-success p-1">
                        Minimo 6 caracteres y al menos una mayúscula y una minúscula
                    </small>
                    {% if form.password.errors %}
                        <div class="mt-2">
                            {% for error in form.password.errors %}
                                <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-group justify-content-between align-items-center form-floating mb-3">
                    {{ form.confirmar_password(class="form-control is-invalid" if form.confirmar_password.errors else "form-control", placeholder="empty") }}
                    <label for="confirmar_password" class="form-label">Confirmar Contraseña</label>
                    {% if form.confirmar_password.errors %}
                        <div class="mt-2">
                            {% for error in form.confirmar_password.errors %}
                                <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <!-- Boton para crear cuenta -->
                <button type="submit" class="btn btn-primary mt-2">Crear Cuenta</button>
            </form>
        </div>

    

{% endblock content %}

