{% extends "base_page.html" %}

{% block title %}
    Crear Nuevo Usuario
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mt-5 p-4 shadow-lg">
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Formulario de Nombre, Documento, Correo y Celular -->
        <h2 class="mb-4">
            Paso 1: Dinos quien eres
        </h2>
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="form-group justify-content-between align-items-center form-floating mb-3">
                {{ form.nombre(class="form-control is-invalid" if form.nombre.errors else "form-control", placeholder="empty") }}
                <label for="nombre" class="form-label">
                    Nombre
                </label>
                {% if form.nombre.errors %}
                    <div class="mt-2">
                        {% for error in form.nombre.errors %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group justify-content-between align-items-center form-floating mb-3">
                {{ form.dni(class="form-control is-invalid" if form.dni.errors else "form-control", placeholder="empty") }}
                <label for="dni" class="form-label">DNI</label>
                {% if form.dni.errors %}
                    <div class="mt-2">
                        {% for error in form.dni.errors %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group justify-content-between align-items-center form-floating mb-3">
                {{ form.correo(class="form-control is-invalid" if form.correo.errors else "form-control", placeholder="empty") }}
                <label for="correo" class="form-label">Correo Electrónico</label>
                {% if form.correo.errors %}
                    <div class="mt-2">
                        {% for error in form.correo.errors %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group justify-content-between align-items-center form-floating mb-3">
                {{ form.celular(class="form-control is-invalid" if form.celular.errors else "form-control", placeholder="empty") }}
                <label for="celular" class="form-label">Celular</label>
                <small class="form-text text-success p-1">
                    Sin espacios ni guiones
                </small>
                {% if form.celular.errors %}
                    <div class="mt-2">
                        {% for error in form.celular.errors %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <!-- Boton para pasar al siguiente paso -->
            <button type="submit" class="btn btn-primary">
                Siguiente
            </button>
        </form>
    </div>

    

{% endblock content %}

