{% extends "base_page.html" %}

{% block title %}
    Clave Nueva
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-5 p-4 shadow-lg">
                <!-- Flash messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

            <!-- Formulario de codigo de confirmacion y elegir nueva contraseña -->
            <h2 class="mb-4">
                Elige tu nueva contraseña
            </h2>

            <form method="POST" action="">
                <fieldset class="form-group">

                    <!-- Campo de codigo -->
                    <div class="form-group justify-content-between align-items-center form-floating mb-3">
                        <input type="text" class="form-control {% if errors.get('codigo') %} is-invalid {% endif %}"
                            id="codigo" name="codigo" value="{{ user.get('codigo', '') }}" , placeholder="empty">
                        <label for="codigo" class="form-label">
                            Codigo de Validacion
                        </label>
                        <small class="form-text text-success">
                            Debes haber recibido un correo con el codigo
                        </small>
                        <!-- Mensajes de error -->
                        {% if errors.get("codigo") %}
                        <div class="mt-2">
                            {% for error in errors.codigo %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Campo de contraseña -->
                    <div class="form-group justify-content-between align-items-center form-floating mb-3">
                        <input type="password" class="form-control {% if errors.get('password1') %} is-invalid {% endif %}"
                            id="password1" name="password1" value="{{ user.get('password1', '') }}" , placeholder="empty">
                        <label for="password1" class="form-label">
                            Contraseña
                        </label>
                        <!-- Mensajes de error -->
                        {% if errors.get("password1") %}
                        <div class="mt-2">
                            {% for error in errors.password1 %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Campo de repetir contraseña -->
                    <div class="form-group justify-content-between align-items-center form-floating mb-3">
                        <input type="password" class="form-control {% if errors.get('password2') %} is-invalid {% endif %}"
                            id="password2" name="password2" value="{{ user.get('password2', '') }}" , placeholder="empty">
                        <label for="password2" class="form-label">
                            Repetir Contraseña
                        </label>
                        <!-- Mensajes de error -->
                        {% if errors.get("password2") %}
                        <div class="mt-2">
                            {% for error in errors.password2 %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </fieldset>

                <!-- Boton para validar -->
                <button type="submit" class="btn btn-primary">
                    Siguiente
                </button>
            </form>
        </div>
    </div>

{% endblock content %}

