{% extends "base_page.html" %}

{% block title %}
    Recuperar Contraseña
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mt-5 p-4 shadow-lg">        
        
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Formulario de correo -->
        <h2 class="mb-4 mt-2">
            Ingresa tu correo {{message}}
        </h2>
        
        <form method="POST" action="">
            <fieldset class="form-group">

                <!-- Campo de correo -->
                <div class="form-group justify-content-between align-items-center form-floating mb-3">
                    <input type="text" class="form-control {% if errors.get('correo') %} is-invalid {% endif %}"
                        id="correo" name="correo" value="{{ user.get('correo', '') }}" , placeholder="empty">
                    <label for="correo" class="form-label">
                        Correo
                    </label>
                    <small class="form-text text-success">
                        Recibiras un codigo de validacion al correo
                    </small>
                    <!-- Mensajes de error -->
                    {% if errors.get("correo") %}
                    <div class="mt-2">
                        {% for error in errors.correo %}
                        <small class="text-danger">
                            {{ error }}
                        </small>
                        <br>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </fieldset>             

            <!-- Boton para siguiente paso -->
            <button type="submit" class="btn btn-primary mt-2">Siguiente</button>
        </form>
    </div>

{% endblock content %}

