{% extends "base_page.html" %}

{% block title %}
Crear Nuevo Usuario
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mt-5 p-4 shadow-lg">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- Formulario de Nombre, Documento, Correo y Celular -->
            <h2 class="mb-4">
                Paso 1: Dinos quien eres
            </h2>

            <form method="POST" action="">
                <fieldset class="form-group">

                    <!-- Campo de nombre -->
                    <div class="form-group justify-content-between align-items-center form-floating mb-3">
                        <input type="text" class="form-control {% if errors.get('nombre') %} is-invalid {% endif %}"
                            id="nombre" name="nombre" value="{{ user.get('nombre', '') }}" , placeholder="empty">
                        <label for="nombre" class="form-label">
                            Nombre
                        </label>
                        <!-- Mensajes de error -->
                        {% if errors.get("nombre") %}
                        <div class="mt-2">
                            {% for error in errors.nombre %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Campo de dni -->
                    <div class="form-group justify-content-between align-items-center form-floating mb-3">
                        <input type="text" class="form-control {% if errors.get('dni') %} is-invalid {% endif %}"
                            id="dni" name="dni" value="{{ user.get('dni', '') }}" , placeholder="empty">
                        <label for="dni" class="form-label">
                            DNI
                        </label>
                        <!-- Mensajes de error -->
                        {% if errors.get("dni") %}
                        <div class="mt-2">
                            {% for error in errors.dni %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Campo de correo -->
                    <div class="form-group justify-content-between align-items-center form-floating mb-3">
                        <input type="text" class="form-control {% if errors.get('correo') %} is-invalid {% endif %}"
                            id="correo" name="correo" value="{{ user.get('correo', '') }}" , placeholder="empty">
                        <label for="correo" class="form-label">
                            Correo
                        </label>
                        <!-- Mensajes de error -->
                        {% if errors.get("correo") %}
                        <div class="mt-2">
                            {% for error in errors.correo %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Campo de celular -->
                    <div class="form-group justify-content-between align-items-center form-floating mb-3">
                        <input type="text" class="form-control {% if errors.get('celular') %} is-invalid {% endif %}"
                            id="celular" name="celular" value="{{ user.get('celular', '') }}" , placeholder="empty">
                        <label for="celular" class="form-label">
                            Celular
                        </label>
                        <!-- Mensajes de error -->
                        {% if errors.get("celular") %}
                        <div class="mt-2">
                            {% for error in errors.celular %}
                            <small class="text-danger">
                                {{ error }}
                            </small>
                            <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </fieldset>

                <!-- Boton para pasar al siguiente paso -->
                <button type="submit" class="btn btn-primary">
                    Siguiente
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}