<head>
    <title>Apparka User Data Dashboard</title>
</head>

<body>
    <h3>Latest update: {{data[-1]}}</h3>
    <table style="font-size: smaller; padding-left: 10px;">
        <tr style="color: white; background-color:rgb(94, 6, 6); ">
            <td style="padding-left: 10px">Usuarios:</td>
            <td>{{data[0]}}</td>
            <td></td>
        </tr>
        <tr style="color: white; background-color:blue;" ;>
            <td style="padding-left: 10px">Documentos</td>
            <td>{{data[1]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color:lightblue">
            <td style="padding-left: 10px">DNIs:</td>
            <td>{{data[2]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color:lightblue">
            <td style="padding-left: 10px">CEs:</td>
            <td>{{data[3]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color:lightblue">
            <td style="padding-left: 10px">Blancos:</td>
            <td>{{data[4]}}</td>
            <td></td>
        </tr>
        <tr style="color: white; background-color:green">
            <td style="padding-left: 10px">Brevetes</td>
            <td>{{data[5]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: lightgreen">
            <td style="padding-left: 10px">Vigentes</td>
            <td>{{data[6]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: greenyellow">
            <td style="padding-left: 20px">&lt 6 meses:</td>
            <td>{{data[7]}}</td>
        </tr>
        <tr style="color: black; background-color: greenyellow">
            <td style="padding-left: 20px">6-12 meses:</td>
            <td>{{data[8]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: greenyellow">
            <td style="padding-left: 20px">12-18 meses:</td>
            <td>{{data[9]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: greenyellow">
            <td style="padding-left: 20px">> 18 meses:</td>
            <td>{{data[10]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: lightgreen">
            <td style="padding-left: 10px">Vencidos:</td>
            <td>{{data[11]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: lightgreen">
            <td style="padding-left: 10px">Blancos:</td>
            <td>{{data[12]}}</td>
            <td></td>
        </tr>
        <tr style="color: white; background-color: gray;">
            <td style="padding-left: 10px">Usuarios sin Vehiculo:</td>
            <td>{{data[13]}}</td>
            <td></td>
        </tr>
        <tr style="color: white; background-color: gray;">
            <td style="padding-left: 10px">Usuarios con Vehiculo:</td>
            <td>{{data[14]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: lightgray">
            <td style="padding-left: 10px">Usuarios con 1 vehiculo</td>
            <td>{{data[15]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: lightgray;">
            <td style="padding-left: 10px">Usuarios con 2 vehiculos</td>
            <td>{{data[16]}}</td>
            <td></td>
        </tr>
        <tr style="color: black; background-color: lightgray;">
            <td style="padding-left: 10px">Usuarios con 3 vehiculos</td>
            <td>{{data[17]}}</td>
            <td></td>
        </tr>
        <tr style="color: white; background-color: gray;">
            <td style="padding-left: 10px">Promedio / usuario</td>
            <td>{{data[18]}}</td>
            <td></td>
        </tr>
        <tr style="color: white; background-color: gray;">
            <td style="padding-left: 10px">Total Vehiculos:</td>
            <td>{{data[19]}}</td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Con Revision Tecnica</td>
            <td>{{data[20]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Revision Tecnica Vigente</td>
            <td>{{data[21]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vence &lt15 dias</td>
            <td>{{data[22]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vence 15 dias a 90 dias</td>
            <td>{{data[23]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vence >90 dias</td>
            <td>{{data[24]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Revision Tecnica Vencida</td>
            <td>{{data[25]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Sin Revision Tecnica</td>
            <td>{{data[26]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Blancos</td>
            <td>{{data[27]}}</td>
            <td></td>
        </tr>
    </table>
</body>