<head>
    <title>Apparka User Data Dashboard</title>
</head>
<body>
    <table>
        <tr>
            <td>Records:</td>
            <td>{{data[0]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Documentos</td>
            <td>{{data[1]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>DNI:</td>
            <td>{{data[2]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>CE:</td>
            <td>{{data[3]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Otro/Blanco:</td>
            <td>{{data[4]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Brevetes</td>
            <td>{{data[5]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vigentes</td>
            <td>{{data[6]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vigencia &lt6 meses:</td>
            <td>{{data[7]}}</td>
        </tr>
        <td></td>
        <tr>
            <td>Vigencia 6-12 meses:</td>
            <td>{{data[8]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vigencia 12-18 meses:</td>
            <td>{{data[9]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vigencia >18 meses:</td>
            <td>{{data[10]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vencido:</td>
            <td>{{data.c6}}</td>
            <td></td>
        </tr>
        <tr>
            <td>otros:</td>
            <td>{{data.d13}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Vehiculos:</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>No Registrados:</td>
            <td>{{data.d14}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Registrados:</td>
            <td>{{data.d15}}</td>
            <td></td>
        </tr>
        <tr>
            <td>1 por usuario</td>
            <td>{{data.d16}}</td>
            <td></td>
        </tr>
        <tr>
            <td>2 por usuario</td>
            <td>{{data.d17}}</td>
            <td></td>
        </tr>
        <tr>
            <td>3 por usuario</td>
            <td>{{data.d18}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Promedio:</td>
            <td>{{data.d19}}</td>
            <td></td>
        </tr>
    </table>
</body>
